%tr
  %td= user.username
  %td= user.fname
  %td= user.lname
  %td= user.age
  %td= user.income
  %td= user.birthday
  %td= link_to 'Show', user
  %td= link_to 'Edit', edit_user_path(user)
  %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete
